@import "variables";
@import "mixin";
@import "header";

html{
    box-sizing: border-box;
    font-size: 100%;
}
*, *::before, *::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    font-family: 'Barlow', sans-serif;
    font-family: 'Fraunces', serif;
}