@media (min-width: 43.1875em) {
  .hide-for-desktop {
    display: none;
  }
}

@media (max-width: 43.125em) {
  .hide-for-mobile {
    display: none;
  }
}

.header {
  height: 50rem;
  background-image: url(../../images/desktop/image-header.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  background-color: #3EBFFF;
  padding: 40px;
  position: relative;
  color: white;
  text-align: center;
}

@media (max-width: 43.125em) {
  .header {
    height: 32rem;
  }
}

.header h1 {
  font-size: 2.8125rem;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  margin-top: 7.1875rem;
  position: relative;
}

.header h1::after {
  content: "";
  background-image: url(../../images/icon-arrow-down.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 7.1875rem;
  width: 2.5rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateY(160%) translateX(-50%);
          transform: translateY(160%) translateX(-50%);
}

@media (max-width: 43.125em) {
  .header h1::after {
    -webkit-transform: translateY(105%) translateX(-50%);
            transform: translateY(105%) translateX(-50%);
  }
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../../images/logo.svg);
  background-repeat: no-repeat;
  background-position: left center;
  font-family: 'Barlow', sans-serif;
  min-height: 1.625rem;
}

.header__links {
  position: relative;
}

.header__links a {
  color: white;
  margin-right: 3.125rem;
  font-size: 1.25rem;
  text-decoration: none;
}

.header__cta {
  width: 9.0625rem;
  height: 3.75rem;
  background-color: white;
  color: black;
  border-radius: 1.8rem;
  border: none;
  font-family: 'Fraunces', serif;
  font-size: 1.25rem;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.header__cta:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
}

.header__clickzone {
  height: 100%;
  min-height: 26px;
}

.header__clickzone:hover {
  cursor: pointer;
}

.header__hamburger {
  height: 3px;
  width: 25px;
  background-color: white;
  position: relative;
}

.header__hamburger::before {
  content: "";
  height: 3px;
  width: 25px;
  background-color: white;
  position: absolute;
  top: 8px;
  left: 0;
}

.header__hamburger::after {
  content: "";
  height: 3px;
  width: 25px;
  background-color: white;
  position: absolute;
  top: 16px;
  left: 0;
}

.header__menu {
  position: absolute;
  left: 5%;
  right: 5%;
  height: 300px;
  bottom: 5rem;
  background-color: white;
  color: black;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
}

.header__menu a {
  text-decoration: none;
  font-family: 'Barlow', sans-serif;
  font-size: 1.2em;
  color: #5a636c;
}

.header__menu button {
  background-color: #fad400;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

.header__menu button:hover {
  opacity: 0.5;
  color: black;
  background-color: #fad400;
}

.header__menu::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 100%;
  top: -15%;
  left: 90%;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(50%, transparent), color-stop(50.5%, #FFF));
  background: linear-gradient(to bottom right, transparent 50%, #FFF 50.5%);
}

.header__menu.active {
  visibility: visible;
}

.grid {
  display: -ms-grid;
  display: grid;
  max-width: 100vw;
  -ms-grid-columns: (50vw)[2];
      grid-template-columns: repeat(2, 50vw);
  -ms-grid-rows: (minmax(37.5rem, auto))[3];
      grid-template-rows: repeat(3, minmax(37.5rem, auto));
      grid-template-areas: "A B" "C D" "E F";
}

@media (max-width: 43.125em) {
  .grid {
    -ms-grid-columns: (100vw)[1];
        grid-template-columns: repeat(1, 100vw);
    -ms-grid-rows: (minmax(19.6875rem, auto))[6];
        grid-template-rows: repeat(6, minmax(19.6875rem, auto));
        grid-template-areas: "A" "B" "C" "D" "E" "F";
  }
}

.grid__cell {
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}

@media (max-width: 43.125em) {
  .grid__cell {
    padding-bottom: 30px;
  }
}

.grid__cell h2 {
  font-size: 2.4rem;
  margin-bottom: 3.125rem;
}

.grid__cell h3 {
  margin-bottom: 1.875rem;
}

.grid__cell p {
  font-size: 1rem;
  font-family: 'Barlow', sans-serif;
  color: #5a636c;
  margin-bottom: 3.125rem;
  line-height: 1.7;
}

.grid__cell a {
  color: black;
  text-decoration: none;
  position: relative;
  font-size: 1.3rem;
  font-weight: bold;
}

.grid__cell a:hover::before {
  scale: 1;
}

.grid__cell a::before {
  content: "";
  position: absolute;
  height: 8px;
  left: -5%;
  right: -5%;
  bottom: 0px;
  z-index: -1;
  background-color: #fad400;
  border-radius: 4px;
  scale: 0;
  -webkit-transition: scale 400ms ease-in-out;
  transition: scale 400ms ease-in-out;
}

.grid__cell_A, .grid__cell_D {
  padding-top: 10.3125vw;
  padding-left: 12vw;
  padding-right: 11vw;
  text-align: left;
}

@media (max-width: 43.125em) {
  .grid__cell_A, .grid__cell_D {
    text-align: center;
  }
}

.grid__cell_B {
  background-image: url(../../images/desktop/image-transform.jpg);
}

@media (max-width: 43.125em) {
  .grid__cell_B {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: A;
  }
}

.grid__cell_C {
  background-image: url(../../images/desktop/image-stand-out.jpg);
}

.grid__cell_E {
  background-image: url(../../images/desktop/image-graphic-design.jpg);
}

.grid__cell_F {
  background-image: url(../../images/desktop/image-photography.jpg);
}

.grid__cell_E, .grid__cell_F {
  padding: 0 10vw;
  padding-top: 25rem;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  height: 150vh;
  font-family: 'Barlow', sans-serif;
  font-family: 'Fraunces', serif;
  overflow-x: hidden;
}

body.noscroll {
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */